<!-- Primary Meta Tags -->
<title>Pinch of Salt - Free recipes for everyone</title>
<meta name="title" content="Pinch of Salt - Free recipes for everyone" />
<meta
  name="description"
  content="Pinch of Salt is an open source recipe website that anyone can contribute to that contains recipes and nothing else."
/>

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://pinchofsalt.web.app/" />
<meta property="og:title" content="Pinch of Salt - Free recipes for everyone" />
<meta
  property="og:description"
  content="Pinch of Salt is an open source recipe website that anyone can contribute to that contains recipes and nothing else."
/>
<meta
  property="og:image"
  content="https://pinchofsalt.web.app/images/meta-image.png"
/>

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://pinchofsalt.web.app/" />
<meta
  property="twitter:title"
  content="Pinch of Salt - Free recipes for everyone"
/>
<meta
  property="twitter:description"
  content="Pinch of Salt is an open source recipe website that anyone can contribute to that contains recipes and nothing else."
/>
<meta
  property="twitter:image"
  content="https://pinchofsalt.web.app/images/meta-image.png"
/>
